__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
bin/
lib/
include/

dist/
build/
*.egg-info/
nosetests.xml
pip-wheel-metadata/

.ipynb_checkpoints

htmlcov/
.tox/
.nosexy
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

.DS_Store
Thumbs.db
.vscode/
.idea/

.env
.venv
